#Main{
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  /* display: flex; */
  /* flex-direction: row; */

}
#Main section{
  width: 100vw;
  height: 100vh;
  border-bottom: 1px solid rgb(172, 172, 172);
}
.arrow{
  position: relative;
  width: 20px;
  height: 20px;
}
.arrow .line{
  width: 2px;
  height: 12px;
  position: absolute;
  display: block;

}
.arrow.right .line:nth-child(1){
  transform: rotate(-45deg) translateX(-50%);
  right: 50%;
  top: 0;
}
.arrow.right .line:nth-child(2){
  transform: rotate(-135deg);
  bottom: 0;
  right: 50%;
}
.page{
  height: 100vh;
  position: relative;
}
.page h1{
  position: absolute;
  top:60%;
  left:50%;
  font-size: 3em;
  /* color:white */
}

/* nav */
.nav_body{
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  width: 100vw;
  height: 0;
  z-index: 50;
  background: var(--background);
  transition: all 0.7s ease;
  border-bottom: 1px solid rgb(172, 172, 172);
}
.nav_body.active{
  height: 100vh;
}
.nav_body.active .nav_in{
  top: 50vh;
}
.nav_in{
  z-index: 50;
  position: absolute;
  top: 35vh;
  left: 50vw;
  transform: translate(-50%,-50%);
  display: flex;
  flex-direction: column;
  text-align: center;
  color: black;
  transition: all 0.7s ease-in-out;
}
.nav_in a{
  font-weight: bold;
  font-size: 10vw;
  padding: 2vh;
  z-index: 50;
  transition: all 0.7s ease;
}
.hide{
  opacity: 0;
  height: 0;
  overflow: hidden;
  width: 0;
  transition: all 0.7 ease;

}
.nav_in a span{
  letter-spacing: 3vw;
}
.current{
  color: rebeccapurple;
}