.red{

}
.footer-back{
  background: #011627;
  /* background: #FDFFFC; */
}
.background{
  background: #FDFFFC;
}
.color-white{
  color:white;
}
.nav{
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9999;
  transition: all 0.5s ease-in;
}
.nav i{
  font-size: 52px;
}
.nav .btn_nav:hover{
  border: 1px solid black;
  transform-origin: left;
}
.nav .btn_nav:hover .stick_linear_3{
  width: 100%;
}
.nav .btn_nav:hover .stick_linear_1{
  width: 50%;
}
.hamb{
  width: 45%;
  height: 30%;
}
.hamb .stick{
  position: absolute;
  display: block;
  height: 1px;
  width: 100%;
  background: black;
  transition: all 0.2s ease-in;
}
.hamb .stick_linear_1{
  right: 0
}
.hamb .stick_linear_2{
  top:50%;
}
.hamb .stick_linear_3{
  top:100%;
  width: 50%;
  transform-origin: left;
}


.nav_scroll .btn_nav:hover{
  border: 1px solid white;
}
.nav_scroll .stick{
  background:white;
}

.white_nav .btn_nav:hover{
  border: 1px solid white;
}
.white_nav .stick{
  background:white;
  display: none;
}


.nav_back{
  display: none;
  height: 30%;
  width: 30%;
  z-index: 10000;
}
.stick_back{
  display: block;
  width: 100%;
  height: 1px;
  background: white;
}
.white_nav .nav_back{
  display: block;
}

.white_nav .stick_l_back_1{
  transform: translate(-50%,-50%) rotate(45deg);
}
.white_nav .stick_l_back_2{
  transform: translate(-50%,-50%) rotate(-45deg);
}
@keyframes border {
  0%{
    border-top: 1px solid black;
    border-right: none;
    border-bottom: none;
    border-left: none;
  }
  25%{
    border-top: none;
    border-right: 1px solid black;
    border-bottom: none;
    border-left: none;
  }
  50%{
    border-top: none;
    border-right: none;
    border-bottom: 1px solid black;
    border-left: none;
  }
  75%{
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: 1px solid black;
  }
  100%{
    border-top: 1px solid black;
    border-right: none;
    border-bottom: none;
    border-left: none;
  }
}



/* second */

.next{
  position: relative;
  width: 70vw;
  height: 60vh;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.card{
  margin: auto;
  background: #E71D36;
}
.card_small{
  height: 40vh;
  width: 20vw;
  border-radius: 32px;
}
.card_medium{
  height: 60vh;
  width: 30vw;
  position: absolute;
  right: -35vw;
  top:0;
  border-top-left-radius:32px;
  border-bottom-left-radius:32px;
}
@media screen and (max-width:900px) {
  .nav{
    top:5px;
    right: 40px;
  }
}
