.open{
  z-index: 100;
  background: #2c3e50;
  color:white;
  flex-direction: column;
  height: 100vh;
  transition: all 0.5s ease-in-out;
}
.open_off{
  opacity: 0;
  display:none;
}
.header{
  position: relative;
}
.footer{
  position: relative;
}
.footer_small{
  position: absolute;
  bottom: 0;
  left:0;
  z-index: 10;
  height: 50px;
  width: 100vw;
  justify-content: flex-end;
  padding:0 20px;
}
.body{
  overflow: hidden;
  position: relative;
  height: 100%;
}
.cosialBox{
  width: 30vw;
  height: 30vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 5px;
}
.cosialBox a{
  font-size: 10vw;
  align-items: center;
  display:flex;
  justify-content: center;
  cursor: pointer;
}
.cosialBox_small{
  width: 20vw;
  height: 20vw;
}
.cosialBox_small a{
  font-size: 5vw;
}
.angle{
  position: absolute;
  top: 75vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  font-size: 24px;
  height: 100px;
  width: 100px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.float{
  transition:all 0.5s;
  height: 0;
  width: 100vw;
  position: absolute;
  bottom: 0;
  left:0;
  z-index: 12;
}
.floatIn{
  height: 10vh;
}
.wellcome{
  text-align:center;
  width: auto;
  font-size: 56px;
  color: black;
  letter-spacing: 10px;
}
.second{
  position: relative;
}
.gradient{
  background: #699DF4;
  background: -webkit-linear-gradient(top left, #699DF4, #7C04D3);
  background: -moz-linear-gradient(top left, #699DF4, #7C04D3);
  background: linear-gradient(to bottom right, #699DF4, #7C04D3);
}
.navBlock{
  width: 100vw;
  height: 0;
  position: fixed;
  top:0;
  left:0;
  z-index: 7777;
  transition: all 0.5s ease-out;
}
.navBlock .block{
  display: none;
}
.nav_go{
  height: 100vh;
}
.nav_go .block{
  display: flex;
  color:white;
  flex-direction: column;
}
.nav_go a{
  color: white;
  display: flex;
  width: 142px;
  height: 142px;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 28px;
  font-weight: lighter;
  overflow: hidden;
}
.nav_go a::after, .nav_go a::before{
  content: '';
  background: #FF9F1C;
  width: 150%;
  height: 0;
  position: absolute;
  z-index: -1;
  transition: all 0.5s ease-in-out;
  transform: rotate(-45deg);
}
.nav_go a::after{
  top:-100px;
  left: -100px;
}
.nav_go a::before{
  bottom:-100px;
  right: -100px;
}
.nav_go a:hover{
  border: 1px solid white;
}
.nav_go a:hover::after{
  height: 120%;
}
.nav_go a:hover::before{
  height: 120%;
}
.contact{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  height: calc(100vh - 50px);
  width: 100%;
}
