:root{
    --header-height: 64;
    --first-color: #FDFFFC;
    --second-color: #011267;
    --blue-color: rgb(36, 77, 255);
    --red-color: #e71d36;
    --blue-color-2: #00a8e8;
    --bad-black: #282828;
    --h1: 3em;
    --h2: 2.6em;
    --h3: 2.2em;
    --h4: 1.8em;
    --h5: 1.4em;
    --h6: 1.2em;
    --size1: 16px;
    --size2: 24px;
    --size3: 32px;
    --size4: 48px;
}
*{
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    outline: none;
    font-size: 16px;
    border: none;
    scroll-behavior: smooth;
    color: var(--bad-black)
}
*, ::before, ::after{
    box-sizing: border-box;
}
*::selection{
    background: var(--second-color);
    color: var(--first-color);
}
*::-webkit-scrollbar{
    display: none;
}

.Open_sans{
    font-family: 'Open Sans', sans-serif;
}
.Roboto{
    font-family: 'Roboto', sans-serif;
}
.Barlow{
    font-family: 'Barlow', sans-serif;
}

input, button {
    outline: none;
    box-sizing: border-box;
}
body{
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}
h1, h2, h3, h4, h5, h6{
    font-weight: 500;
}
h1{
    font-size: var(--h1);
}
h2{
    font-size: var(--h2);
}
h3{
    font-size: var(--h3);
}
h4{
    font-size: var(--h4);
}
h5{
    font-size: var(--h5);
}
h6{
    font-size: var(--h6);
}
b{
    font-weight: 600;
}
p, h1, h2, h3, h4, h5, h6, i, span, div, b, text, font, ya-tr-span{
    color: inherit;
    font-family: inherit;
}
i, font, ya-tr-span{
    font-size: inherit;
}
a, li {
    position: relative;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    transition: all 0.3s ease;
}
a::after{
    position: absolute;
    bottom: -2px;
    left: 0;
    display: block;
    content: "";
    width: 0;
    height: 1px;
    background: var(--blue-color);
    transition: all 0.2s ease-in-out;
}
a:hover{
    color: var(--blue-color);
}
a:hover::after{
    width: 100%;
}
a.btn:hover::after{
    display: none;
}
.transparent, #transparent{
    opacity: 0!important;
}

/* ===== BACK ===== */

#back{
    background: var(--first-color);
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    height: 100vh;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -10;
    border-top: 1px solid rgb(172, 172, 172);
    transition: all 0.5s cubic-bezier(1.000, 0.045, 0.425, 1);
}
#back .line{
    width: 1px;
    height: 100vh;
    background: rgb(172, 172, 172);
    transition: all 0.5s cubic-bezier(1.000, 0.045, 0.425, 1);
}
#back.active, #back.active .line{
    height: 0;
}

/* ===== _BODY_ ===== */

#body, section{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
section{
    position: relative;
    display: block;
    /* background: linear-gradient(#e71d36,#011267); */
    border-bottom: 1px solid rgb(172, 172, 172);
}
section .title{
    position: absolute;
    /* font-size: calc(var(--h1) * 4); */
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    font-size: 10vw;
    z-index: 20;
}
section.active.small .title{
    transition-delay: 0.5s;
    top: 10vh;
    font-size: 10vh;
}
section .title.fly{
    position: fixed;
    z-index: 30;
}
section .title a{
    font-size: inherit;
}
section .title a::after{
    display: none;
}
section .title a:hover{
    color: inherit;
}
section .title.fly:hover a{
    color: var(--blue-color);
    cursor: pointer;
}
section .title, section .title span{
    font-weight: 500;
}
section .title span{
    letter-spacing: 3vw;
    font-size: inherit;
}
.content{
    transform-origin: bottom;
    width: 100%;
    height: 100%;
    transition: all 0.3s cubic-bezier(0.4, 0, 1, 1);
}
.content.none{
    transform: rotateX(90deg);
}
.content.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    width: 100%;
    height: 100%;
}
.content.grid .box_height{
    display: flex;
    width: 100%;
    height: 100%;
    z-index: 10;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: end;
}
.content.grid .box_height .btn a,
.content.grid .box_height .btn text{
    z-index: 30;
    transition: all var(--time) ease;
}
.content.grid .box_height .btn{
    width: 100%;
    height: 8vh;
    min-height: var(--size3);
    background: var(--blue-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.content.grid .box_height .box{
    width: 100%;
    height: 25vw;
    max-height: 32vh;
    background: linear-gradient(135deg, var(--red-color), var(--second-color));
    background-size: cover!important;
    border-top: 1px solid rgb(172, 172, 172);
}
.slide{
    position: relative;
    --width: 100%;
    --time:0.7s;

    background: var(--blue-color);
    color: white;
    overflow: hidden;
}
.slide span{
    border-radius: 100%;
	position: absolute;
	display: block;
	content: "";
	z-index: 0;
	width: 0;
    height: 0;


    background: var(--first-color);
	transform: translate(-50%, -50%);
	transition: width var(--time), padding-top var(--time);
}
.slide:hover {
	color: var(--blue-color);
}
.slide:hover span {
	width: calc(var(--width)*3.25);
	padding-top: calc(var(--width)* 3.25);
}

/* ===== DSGN page ===== */

#DSGN .content.grid .box_height:nth-child(2) .box{
    background: url("../second/files/img/20200718_210341-01.jpeg") no-repeat;
}
#DSGN .content.grid .box_height:nth-child(3) .box{
    background: url("../second/files/img/IMG_20200508_212831_119.JPG") no-repeat;
    background-position: center;
}
#DSGN .content.grid .box_height:nth-child(4) .box{
    background: url("../second/files/img/20200718_201158-01.jpeg") no-repeat;
    background-position: center;
}
#DSGN .content.grid .box_height .btn{
    border-top: 1px solid rgb(172, 172, 172);
}

/* ===== WORK page ===== */

#WORK .content.grid .box_height .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: auto;
}
#WORK .content.grid .box_height .card .boxz{
    transition: all 0.3s ease;
    width: 100%;
    height: 25vw;
    max-height: 32vh;
    border-top: 1px solid rgb(172, 172, 172);
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background: var(--red-color); */
}
#WORK .content.grid .box_height .card .boxz h2{
    padding: 0.5em 0;
}
#WORK .content.grid .box_height .card .more{
    border-top: 1px solid rgb(172, 172, 172);
    height: 0;
    min-height: 0;
    transition: all 0.3s ease;
}
#WORK .content.grid .box_height .card:hover .more{
    height: 8vh;
    min-height: var(--size3);
}

/* ===== SKILLS ===== */

#SKILLS .content.grid .box_height .circle{
    width: 18vw;
    height: 18vw;
    background: #011267;
    border-radius: 50%;
    margin: 0 0 1em 0;
    background-position: center!important;
    background-size: cover!important;
}
#SKILLS .content.grid .box_height:nth-child(1) .circle{
    background: url("../second/files/img/20200719_013050-01.jpeg") no-repeat;
}
#SKILLS .content.grid .box_height:nth-child(2) .circle{
    background: url("../second/files/img/IMG_20200319_220853_175.JPG") no-repeat;
}
#SKILLS .content.grid .box_height h1, #SKILLS .content.grid .box_height{
    flex-direction: column;
    padding-top: 20vh;
}
#SKILLS .content.grid .box_height h1, #SKILLS .content.grid .box_height p{
    padding: 1em 0;
}
#SKILLS .content.grid .box_height p ya-tr-span,
#SKILLS .content.grid .box_height p font{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* ===== CALL ===== */



/* ===== FRONT ===== */

#front{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 0;
    z-index: 20;
}
.header{
    position: absolute;
    top: var(--size2);
    left: var(--size2);
    right: var(--size2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .nav{
    width: calc(var(--size3) * 3);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.header .nav i , .header .logo{
    font-size: var(--size3);
}
.nav_burger{
    width: var(--size3);
    height: var(--size2);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
}
.nav_burger span{
    position: absolute;
    display: block;
    width: var(--size3);
    height: 2px;
    background: var(--bad-black);
    transition: all 0.3s ease;
}
.nav_burger span:nth-child(1){
    right: 0;
    top: 0;
}
.nav_burger span:nth-child(2){
    width: var(--size1);
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.nav_burger span:nth-child(3){
    left: 0;
    bottom: 0;
}
.nav_burger:hover span{
    background: var(--blue-color);
}
.nav_burger:hover span:nth-child(1),
.nav_burger:hover span:nth-child(3){
    width: var(--size1);
}
.nav_burger:hover span:nth-child(2){
    width: var(--size3);
}

.nav_burger.active span{
  position: absolute;
}
.nav_burger.active span:nth-child(1){
  transform: translate(-50%, -50%) rotate(45deg);
  top: 50%;
  left: 50%;

}
.nav_burger.active span:nth-child(2){
  transform: translate(-50%, -50%) rotate(90deg);
  top: 50%;
  left: 50%;
  opacity: 0;
}
.nav_burger.active span:nth-child(3){
  transform: translate(-50%, -50%) rotate(-45deg);
  top: 50%;
  left: 50%;
}


/* ===== MOBILE Version ===== */

@media screen and (max-width: 1200px){
    #SKILLS{
        display: flex;
            align-items: flex-end;
    }
    #SKILLS .grid{
        height: 100%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    #SKILLS .grid .box_height:nth-child(3),
    #SKILLS .grid .box_height:nth-child(4){
        padding-top: 2em;
    }
}
@media screen and (max-width: 900px){
    .section{
        display: flex;
        align-items: flex-end;
    }
    .content.grid{
        height: 50%;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    #DSGN .content.grid .box_height:nth-child(1){
        display: none;
    }
    #DSGN .content.grid .box_height:nth-child(2){
        grid-column: 1;
        grid-row: 1/3 ;
    }
    #DSGN .content.grid .box{
        height: 100%;
        max-height: none;
        width: 100%;
    }
    #DSGN .btn{
        display: none;
    }
    #WORK .content.grid .box_height .card .boxz,
    #WORK .content.grid .box_height .card{
        height: 100%;
    }
}