@media screen and (max-width: 900px) {
  section {
    display: flex;
    align-items: flex-end;
  }
  .content.grid {
    height: 50%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .content.grid.reverse {
    grid-template: "x0 x0" 1fr "x1 x2" 1fr/1fr 1fr;
  }
  .box_height, .box_height .box, .content .boxz, .content .card {
    height: 100%;
  }
  .content h2, #WORK h2, #WORK h3 {
    font-size: var(--h4);
  }
  #SKILLS .content {
    height: auto;
  }
  #CALL .content {
    height: initial;
  }
}