:root {
    --header-height: 64;
    --first-color: #FDFFFC;
    --second-color: #011267;
    --blue-color: rgb(36, 76, 255);
    --red-color: #e71d36;
    --blue-color-2: #00a8e8;
    --bad-black: #282828;
    --dark_black: #010303;
    --h1: 3em;
    --h2: 2.6em;
    --h3: 2.2em;
    --h4: 1.8em;
    --h5: 1.4em;
    --h6: 1.2em;
    --size1: 16px;
    --size2: 24px;
    --size3: 32px;
    --size4: 48px;
    --size5: 64px;
}

* {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    outline: none;
    font-size: 16px;
    border: none;
    scroll-behavior: smooth;
    color: var(--bad-black);
}

*, *::before, *::after {
    box-sizing: border-box;
}

*::selection {
    background: var(--second-color);
    color: var(--first-color);
}

*::-webkit-scrollbar {
    display: none;
}

.Open_sans {
    font-family: 'Open Sans', sans-serif;
}

.Roboto {
    font-family: 'Roboto', sans-serif;
}

.Barlow {
    font-family: 'Barlow', sans-serif;
}

.Comfortaa {
    font-family: 'Comfortaa', sans-serif;
}

input, button {
    outline: none;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    width: 100vw;
    background: var(--first-color);
}

body.none_mouse_visible {
    cursor: none;
}

body.none_mouse_visible *:hover {
    cursor: inherit;
}

html, body {
    height: -webkit-fill-available;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

h1 {
    font-size: var(--h1);
}

h2 {
    font-size: var(--h2);
}

h3 {
    font-size: var(--h3);
}

h4 {
    font-size: var(--h4);
}

h5 {
    font-size: var(--h5);
}

h6 {
    font-size: var(--h6);
}

b {
    font-weight: 600;
}

p, h1, h2, h3, h4, h5, h6, i, span, div, b, text, font, ya-tr-span {
    text-align: center;
    color: inherit;
    font-family: inherit;
}

i, font, ya-tr-span {
    font-size: inherit;
}

a, li {
    position: relative;
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    transition: all 0.3s ease;
    font-weight: 400;
}

a::after {
    position: absolute;
    bottom: -2px;
    left: 0;
    display: block;
    content: "";
    width: 0;
    height: 1px;
    background: var(--bad-black);
    transition: all 0.2s ease-in-out;
}

a:hover {
    font-weight: 400;
}

a:hover::after {
    width: 100%;
}

#body, section {
    width: 100vw;
    height: -webkit-fill-available;
    overflow: hidden;
}

.hide {
    transition: transform 0.5s ease;
    transform-origin: top;
    transform: rotateX(90deg);
}

#back {
    background: var(--first-color);
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    height: 100vh;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: -10;
    border-top: 1px solid rgb(172, 172, 172);
    transition: all 0.5s cubic-bezier(1.000, 0.045, 0.425, 1);
}

#back .line {
    width: 1px;
    height: 100vh;
    background: rgb(172, 172, 172);
    transition: all 0.5s cubic-bezier(1.000, 0.045, 0.425, 1);
}

#back.active, #back.active .line {
    height: 0;
}

#front {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100vw;
    height: 0;
    z-index: 20;
}

.header {
    position: absolute;
    top: var(--size2);
    left: var(--size2);
    right: var(--size2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .nav {
    width: calc(var(--size3) * 3);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.header .nav i, .header .logo {
    font-size: var(--size3);
}

.header .nav i, .header .logo a::after {
    height: 2px;
}

.nav_burger {
    width: var(--size3);
    height: var(--size2);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
}

.nav_burger span {
    position: absolute;
    display: block;
    width: var(--size3);
    height: 2px;
    background: var(--bad-black);
    transition: all 0.3s ease;
}

.nav_burger span:nth-child(1) {
    right: 0;
    top: 0;
}

.nav_burger span:nth-child(2) {
    width: var(--size1);
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.nav_burger span:nth-child(3) {
    left: 0;
    bottom: 0;
}

.nav_burger:hover span:nth-child(1), .nav_burger:hover span:nth-child(3) {
    width: var(--size1);
}

.nav_burger:hover span:nth-child(2) {
    width: var(--size3);
}

.nav_burger.active span {
    position: absolute;
}

.nav_burger.active span:nth-child(1) {
    transform: translate(-50%, -50%) rotate(45deg);
    top: 50%;
    left: 50%;
}

.nav_burger.active span:nth-child(2) {
    transform: translate(-50%, -50%) rotate(90deg);
    top: 50%;
    left: 50%;
    opacity: 0;
}

.nav_burger.active span:nth-child(3) {
    transform: translate(-50%, -50%) rotate(-45deg);
    top: 50%;
    left: 50%;
}

#mouse, #ball {
    z-index: 500;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 50%;
    pointer-events: none;
    transition: width 0.3s ease, height 0.3s ease;
}

#mouse.invert {
    width: var(--size3);
    height: var(--size3);
}

.invert {
    mix-blend-mode: difference;
}

#ball {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3px;
    height: 3px;
    background: #fff;
}

.loader {
    width: 44px;
    height: 44px;
    animation: spinner 0.5s linear infinite;
    border-width: 2px;
    border-style: solid;
    border-color: #000 rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1);
    transform: translate(-50%, -50%);
}

@keyframes spinner {
    0% {
        transform: translate(-50%, -50%) rotate(0);
    }
    100% {
        transform: translate(-50%, -50%) rotate(359deg);
    }
}