* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  color:#333;
  font-size: 16px;
  border: none;
  scroll-behavior: smooth;
  /* cursor: none; */
}
*::before, *::after{
  box-sizing: border-box;
}
*::selection{
  background: darkslategray;
  color: bisque;
}
/* *::-webkit-scrollbar{
  display: none;
} */

.Open_sans{
  font-family: 'Open Sans', sans-serif;
}
.Roboto{
  font-family: 'Roboto', sans-serif;
}
.Barlow{
  font-family: 'Barlow', sans-serif;
}

a, li {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}
p, h1, h2, h3, h4, h5, h6, i, span, div, text{
  color: inherit;
  font-size: inherit;
}
input, button {
  outline: none;
  box-sizing: border-box;
}

body{
  /* line-height: 1.6; */
  --background: #F9F9F7;
  background: var(--background);
  overflow: hidden;
}
.container{
  width: 100%;
}

.button{
	position: relative;
	display: inline-block;
  --width: 100%;
  --time:0.7s;

  background: rgb(36, 77, 255);
  color: white;
  overflow: hidden;
}
.button text{
	position: relative;
	z-index: 5;
  transition: color var(--time);
}

.button:hover text {
	color: rgb(36, 77, 255);
}
.button span {
	border-radius: 100%;
	position: absolute;
	display: block;
	content: "";
	z-index: 0;
	width: 0;
  height: 0;


  background: var(--background);
  /* background: white; */
	transform: translate(-50%, -50%);
	transition: width var(--time), padding-top var(--time);
}

.button:hover span {
	width: calc(var(--width)*3.25);
	padding-top: calc(var(--width)* 3.25);
}


.button.not:hover text {
	color: white;
}
.button.not span {
	background: #ff3b3b;
}

.animated {
	--angle: 5deg;
	animation: shake 0.3s;
}

@keyframes shake {
	25% {
		transform: rotate(calc(var(--angle) * -1));
	}

	50% {
		transform: rotate(var(--angle));
	}

	100% {
		transform: rotate(0deg);
	}
}

/* ball Mouse */
#ball, #circle{
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: #fff;
  mix-blend-mode: exclusion;
  transform: translate(-50%, -50%);
  position: fixed;
  top:50%;
  left:50%;
  pointer-events: none;
  z-index: 10000;
  /* filter: blur(25px) contrast(25px); */
}
#circle{
  width: 40px;
  height: 40px;
  background: var(--background);
  /* transform: matrix(1, 0, 0, 1, 0, 0) translate(-50%, -50%); */
  /* transition: all 0.4s ease; */
}