@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Comfortaa&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --scrollbar-color: transparent;
  --scrollbar-thumb-color: var(--gray-200);
  --scrollbar-thumb-hover-color: var(--gray-400);
}

body {
  font-family: "Montserrat";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#dock {
  width: 100%;
  position: fixed;
  color: #000;
  background-color: #fff9;
  backdrop-filter: blur(8px);
  bottom: 0;
  left: 0;
  right: 0;
}

#dockpanel {
  height: 80px;
  display: flex;
  background-color: #fff2;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--size3);
  overflow: hidden;
}

#hero {
  font-size: 32px;
}

#open {
  width: 32px;
  height: 32px;
  position: relative;
}

#open button {
  width: 100%;
  height: 100%;
  font-size: 0;
}

#open button span {
  display: block;
  width: 80%;
  height: 1px;
  background-color: #000;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

#open button span:nth-child(1) {
  top: 40%;
}

#open button span:nth-child(2) {
  top: 60%;
}

#view {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden;
  padding-bottom: 80px;
}

#title {
  margin: var(--size3);
}

#list {
  width: 100%;
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: var(--size4);
  display: block;
  white-space: nowrap;
}

[card] {
  width: unset;
  aspect-ratio: 2/3;
  height: 100%;
  display: inline-block;
  margin: 0 var(--size3);
}

[card] img {
  transition: all 0.2s ease;
}

[card] img:hover {
  cursor: pointer;
  transform: scale(0.98);
}

[box] {
  width: 100%;
  height: unset;
  aspect-ratio: 1/1;
  background-color: #000;
  display: flex;
}

[view-card] {
  height: 100%;
  aspect-ratio: unset;
}

[card-name] {
  margin-top: var(--size2);
  font-size: 28px;
}

.rounded {
  border-radius: 24px;
}

#dockcontainer {
  height: 0;
  overflow: hidden;
  width: 100vw;
  transition: all 0.5s ease;
}

#dockcontainer .container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  padding: var(--size3);
}

#dockcontainer p {
  padding: 0;
  margin: 0;
}

#dockcontainer #nav {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#dockcontainer #nav ul {
  width: fit-content;
}

#dockcontainer #nav ul li a::after {
  content: " ↗";
}

#dockcontainer #footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#dockcontainer .place {
  text-align: right;
}

body.open-active #dockcontainer {
  height: 50vh;
}

.bold {
  font-weight: 600;
}