@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Comfortaa&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  background-color: var(--black);
  color: #fff;
  font-family: "Montserrat";
}

#body {
  /* overflow: hidden; */
}

#navPanel {
  align-self: flex-end;
  color: var(--gray-300);
  padding: 1em 6em 1em 2em;
}

#navPanel ul {
  gap: 0;
  grid-gap: 0;
}

#navPanel h1 {
  font-size: 1.5em;
  transition: font-size 0.4s ease;
  line-height: 0.8em;
}

#navPanel h1.active {
  font-size: 4em;
  line-height: 0.6em;
  color: #fff;
}

#navPanel a:hover {
  color: #fff;
}

#content {
  flex: 1;
  height: 100%;
  overflow: hidden;
}

#content>section {
  height: 100%;
}

.dev {

  background: linear-gradient(45deg, black, white);
}