:root {
  /* Size */
  --fill_: fill-available;
  --fill: var(--fill_, 100%);
  --size0: 8px;
  --size1: 16px;
  --size2: 24px;
  --size3: 32px;
  --size4: 48px;
  --size5: 64px;
  --size6: 128px;
  --size7: 144px;
  --size8: 192px;
  --size9: 256px;
  --header-font-size: 1rem;
  --text-margin: 0.4em;
  /* Page heihgt */
  --height: 100%;
  --h100: var(--height);
  --h75: calc(var(--height) / 4 * 3);
  --h50: calc(var(--height) / 2);
  --h25: calc(var(--height) / 4);
  --h10: calc(var(--height) / 10);
  --h1: calc(var(--height) / 100);
}

:root {
  /* Gray scale */
  --gray: #282828;
  --gray-000: #fdfeff;
  --gray-100: #DEE2E6;
  --gray-200: #CED4DA;
  --gray-300: #ADB5BD;
  --gray-400: #6C757D;
  --gray-500: #495057;
  --gray-600: #343A40;
  --gray-700: #212529;
  --gray-800: #1B1F22;
  --gray-900: #121517;
  --gray-999: #03070a;
}

:root {
  /* Colors */
  --white: #fdfffc;
  --white-1: #f7fff7;
  --black: #08090a;
  --black-1: #020209;
  --red: #ef233c;
  --red-1: #ff6b6b;
  --green: #80ed99;
  --sky: #00B4D8;
  --blue: #0091ea;
  --yellow: #f5cb5c;
  --orange: #ff7b00;
  --violet: #7700ff;
  --violet-1: #9d46ff;
  /* Scroll bar */
  --scrollbar-display: block;
  --scrollbar-size: var(--size0);
  --scrollbar-color: var(--gray-800);
  --scrollbar-thumb-color: var(--gray-400);
  --scrollbar-thumb-hover-color: var(--gray-200);
  /* Optional */
  --accent: var(--blue);
  --link-hover-color: var(--accent);
  --button-border-hover-color: var(--black);
  --button-border-focus-color: var(--button-border-hover-color);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar-corner {
  visibility: hidden;
}

::-webkit-scrollbar {
  display: var(--scrollbar-display);
  width: var(--scrollbar-size, var(--size0));
  height: var(--scrollbar-size, var(--size0));
  background: var(--scrollbar-color, var(--gray-800));
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-color, var(--gray-800));
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color, var(--gray-400));
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover-color, var(--gray-200));
}

[white] {
  background-color: var(--white);
}

[black] {
  background-color: var(--black);
}

[light], [_fff] {
  background-color: #fff;
}

[dark], [_000] {
  background-color: #000;
}

[red] {
  background-color: var(--red);
}

[green] {
  background-color: var(--green);
}

[blue] {
  background-color: var(--blue);
}

[yellow] {
  background-color: var(--yellow);
}

[sky] {
  background-color: var(--sky);
}

[orange] {
  background-color: var(--orange);
}

[violet] {
  background-color: var(--violet);
}

[accent] {
  background-color: var(--accent);
}

[h100] {
  height: var(--h100);
}

[h75] {
  height: var(--h75);
}

[h50] {
  height: var(--h50);
}

[h25] {
  height: var(--h25);
}

[w100] {
  width: 100%;
}

[w50] {
  width: 50%;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 18px;
}

style, noscript, script,
[hide], [none], .hide {
  display: none !important;
  opacity: 0 !important;
  visibility: hidden !important;
  pointer-events: none !important;
}

section, article, main {
  width: 100%;
}

ol, ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  --gap: 0.5em;
  grid-gap: var(--gap);
  gap: var(--gap);
}

a {
  text-decoration: none;
}

a:link, a[href], a:visited {
  color: inherit;
}

a:link:hover, a[href]:hover, a:visited:hover {
  color: var(--link-hover-color);
}

button, [button] {
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  background-color: transparent;
}

button:focus, a:focus, [button]:focus, [focus] {
  border: 1px solid var(--button-border-focus-color);
}

button:hover, [button]:hover {
  border: 1px solid var(--button-border-hover-color);
}

input {
  outline: none;
}

input::-webkit-search-cancel-button {
  display: none;
}

img {
  width: 100%;
  height: 100%;
  max-width: 100vw;
  max-height: 100vh;
  object-fit: cover;
}

h1, h2, h3, h4, h5, h6 {
  margin: var(--text-margin) 0;
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 4.2em;
}

h3 {
  font-size: 3.6em;
}

h4 {
  font-size: 3.2em;
}

h5 {
  font-size: 2.2em;
}

h6 {
  font-size: 1.6em;
}

/* h1 {
  font-size: calc(var(--header-font-size) * 6);
}

h2 {
  font-size: calc(var(--header-font-size) * 4.5);
}

h3 {
  font-size: calc(var(--header-font-size) * 3.8);
}

h4 {
  font-size: calc(var(--header-font-size) * 3.2);
}

h5 {
  font-size: calc(var(--header-font-size) * 2.6);
}

h6 {
  font-size: calc(var(--header-font-size) * 2);
} */


p {
  margin: var(--text-margin) 0;
}

#body {
  overflow-x: hidden;
  overflow-y: auto;
  height: var(--h100);
  width: 100%;
}

[pos],
[pos="rel"],
[relative],
[container],
[content],
[button],
html,
body,
main,
article,
header,
footer,
section,
button,
#body {
  position: relative;
}

[pos="abs"] {
  position: absolute;
}

[pos="fix"] {
  position: fixed;
}

[container] {
  max-width: 1080px;
  padding: 0 8px;
  margin: 0 auto;
}

[fill] {
  height: 100%;
  width: 100%;
}

[grid] {
  --cols: repeat(auto, 1fr);
  --rows: repeat(auto, 1fr);
  --gap: 0;
  display: grid;
  grid-template-columns: var(--cols);
  grid-template-rows: var(--rows);
  gap: var(--gap);
}

[flex] {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

[flex][align], [flex][align="start"] {
  align-content: flex-start;
}

[flex][align="center"] {
  align-content: center;
}

[flex][align="end"] {
  align-content: flex-end;
}

[flex] [card], [flex] [box] {
  width: 25%;
  height: 50%;
}

[flex-nowrap] {
  flex-wrap: nowrap;
}

[flex="row"] {
  flex-direction: row;
}

[flex="col"] {
  flex-direction: column;
}

[center] {
  align-content: center;
  align-items: center;
  justify-content: center;
}

[center-self] {
  align-self: center;
  justify-self: center;
}

[text-align="center"], [center-text] {
  text-align: center;
}

[wrapper] {
  display: flex;
  align-items: center;
  justify-content: center;
}

[card], [box] {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.dev[inspect], .dev [card], .dev [box], .dev [inspect] {
  background: linear-gradient(45deg, black, white);
}

[rect] {
  aspect-ratio: 1/1;
}

[cover] {
  object-fit: cover;
}

[contain] {
  object-fit: contain;
}