@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Comfortaa&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@400;500;700&display=swap');
:root {
  --primary: #ffffff;
  --secondary: #e71d36;
  --accent: rgb(36, 76, 255);
  --light: #FDFFFC;
  --dark: #010303;
  --gray: #282828;
  --gray-100: #ddd;
  --gray-200: #888;
  --gray-300: #818181;
  --gray-400: #6b6b6b;
  --gray-500: #424242;
  --gray-600: #323232;
  --gray-700: #282828;
  --gray-800: #1b1b1b;
  --gray-900: #101010;
  --h1: 3.5em;
  --h2: 2.6em;
  --h3: 2.2em;
  --h4: 1.8em;
  --h5: 1.4em;
  --h6: 1.2em;
  --size0: 8px;
  --size1: 16px;
  --size2: 24px;
  --size3: 32px;
  --size4: 48px;
  --size5: 64px;
  --header-height: 50px;
  --body-height: calc(100vh - var(--header-height));
  --content-width: 1600px;
  --rows: 9;
  --width: 1224px;
  --row-gap: 0px;
  --row-size: 1fr;
  --column-gap: 0px;
  --grid-width: 1224px;
  --column-count: 12;
  --list-height: calc(var(--size5) * 7);
  --list-width: 1224px;
  --min-list-width: 400px;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  color: var(--gray-800);
  font-size: 16px;
  border: none;
  scroll-behavior: smooth;
}

*:focus {
  background: var(--accent);
}

*, *::before, *::after {
  box-sizing: border-box;
}

*::selection {
  background: var(--gray-600);
  color: var(--light);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--gray-100);
}

::-webkit-scrollbar-thumb {
  background: var(--gray-200);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--gray-400);
}

.Montserrat {
  font-family: 'Montserrat', sans-serif;
}

.Open_sans {
  font-family: 'Open Sans', sans-serif;
}

.Roboto {
  font-family: 'Roboto', sans-serif;
}

.Barlow {
  font-family: 'Barlow', sans-serif;
}

.Comfortaa {
  font-family: 'Comfortaa', sans-serif;
}

a, li {
  position: relative;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  list-style: none;
}

p, a, h1, h2, h3, h4, h5, h6, i, span, div, b, strong, abbr, text, font, ya-tr-span {
  color: inherit;
  font-weight: inherit;
  font-family: inherit;
  font-size: inherit;
}

strong {
  font-weight: 700;
}

abbr {
  text-decoration: underline var(--accent) 2px;
}

h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

h6 {
  font-size: var(--h6);
}

b {
  font-weight: 600;
}

a::after {
  position: absolute;
  bottom: -2px;
  left: 0;
  display: block;
  content: "";
  width: 0;
  height: 1px;
  background: var(--gray);
  transition: all 0.2s ease-in-out;
}

a:hover::after {
  width: 100%;
}

a[not_after]:hover {
  color: var(--accent);
}

a[not_after] i {
  width: 2rem;
}

a[not_after]::after {
  display: none!important;
}

a, button, .btn {
  cursor: pointer;
}

input, button {
  -webkit-appearance: none;
  outline: none;
  box-sizing: border-box;
  appearance: none
}

input::-webkit-calendar-picker-indicator {
  display: none;
}

body {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

table {
  width: 100%;
}

table, tr, th, td {
  border: 1px solid var(--dark);
  padding: 0;
  margin: 0;
  border-collapse: collapse;
}

th, td {
  padding: 1em;
  text-align: center;
}

#body {
  height: var(--body-height);
  width: 100vw;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 2;
  position: relative;
  top: 0;
  left: 0;
  transition: all 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  padding: 0;
  margin: 0;
}

.page {
  height: var(--body-height);
  position: relative;
  width: 100vw;
}

.page .content *::selection {
  background: var(--gray-700);
  color: var(--light);
}

.page .content {
  width: auto;
  max-width: 1024px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.logo {
  height: 100%;
  font-weight: 600;
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.logo img {
  height: 80%;
  transition: all 0.2s ease;
}

.logo[not_after]:hover img {
  transform: scale(1.2);
}

.flex {
  display: flex;
}

.to_center {
  align-items: center;
  justify-content: center;
}

.half {
  transform: translate(-50%, -50%);
}

.half_x {
  transform: translateX(-50%);
}

.half_y {
  transform: translateY(-50%);
}

/* IMPORTANT */

.transparent {
  background: transparent!important;
}

.width_1024 {
  width: 1024px!important;
}

/* START */

header {
  height: var(--header-height);
  display: flex;
  justify-content: space-between!important;
  padding: 0 2vw;
  max-width: var(--width, 1200);
  margin: 0 auto;
}

nav #nav_list {
  display: flex;
  flex-direction: row;
}

nav ul li {
  margin: 0 1vw;
}

button, .button {
  width: auto;
  height: auto;
  padding: 14px 32px;
  border-radius: var(--size3);
  font-weight: bold;
  line-height: var(--size2);
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  background-color: var(--gray-100);
}

.button:hover::after {
  display: none;
}

button:hover, .button:hover, button:focus, .button:focus {
  opacity: 0.9;
  box-shadow: 0 0 7px rgb(0 0 0 / 40%);
}

[list], .list {
  position: relative;
  display: grid;
  grid-template-columns: minmax(var(--min-list-width), var(--list-width));
  grid-template-rows: repeat(auto-fill, 1fr);
  justify-content: center;
}

[item] {
  width: 100%;
  min-width: var(--min-list-width);
  overflow: hidden;
}

[list].m_bottom [item], .list.m_bottom [item] {
  margin-bottom: 2rem;
}

[grid], .grid {
  --column-gap-count: calc(var(--column-count) - 1);
  --column-width: calc((var(--grid-width) - var(--column-gap-count)*var(--column-gap))/var(--column-count));
  --container-width: 100%;
  position: relative;
  display: grid;
  grid-area: 1/1/-1/-1;
  grid-template-rows: repeat(var(--rows), var(--row-size));
  grid-template-columns: calc((var(--container-width) - var(--content-width))/2) 1fr repeat(var(--column-count), minmax(0, var(--column-width))) 1fr calc((var(--container-width) - var(--content-width))/2);
  grid-auto-rows: var(--row-size);
  padding: var(--block-padding);
  margin: auto;
  row-gap: var(--row-gap);
  column-gap: var(--column-gap);
}

[block], .grid_item {
  position: relative;
  grid-area: var(--position);
  overflow: hidden;
}

[gallery], .gallery {
  --gallery-min: 300px;
  --gallery-max: 1fr;
  --gallery-gap: var(--size3);
  --gallery-padding: var(--size3);
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--gallery-min), var(--gallery-max)));
  grid-gap: var(--gallery-gap);
  justify-items: center;
  padding: 0 var(--gallery-padding);
}

input#src {
  border: 1px solid var(--gray);
  font-size: 1.1em;
  padding: 6px 14px;
  border-radius: var(--size0);
  color: var(--gray-100);
}

input#src:focus, input#src:hover {
  border-color: var(--accent);
  background: transparent!important;
  color: var(--dark);
}

.radius {
  border: 50%;
}

.font_700 {
  font-weight: 700;
}

.text_center {
  text-align: center;
}

.view {
  overflow: visible;
}

.hide {
  display: none!important;
}

@supports not (aspect-ratio: 1/1) {
  img {
    height: 90%;
    width: 90%;
  }
}

@media screen and (max-width: 900px) {
  .hello h1, .info h2 {
    font-size: 2em;
  }
  .hello .button {
    text-align: center;
    font-size: 0.8em;
    padding: var(--size0);
  }
  .info p {
    font-size: 0.8em;
  }
  #projects {
    padding: 0!important;
  }
}