@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Comfortaa&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@400;500;700&display=swap');
:root {
  --full_: -webkit-fill-available;
  --full: var(--full_, 100%);
  --size0: 8px;
  --size1: 16px;
  --size2: 24px;
  --size3: 36px;
  --size4: 48px;
  --size5: 64px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body, #app {
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

html, body, #app, #zone, #view, .card {
  width: var(--full);
  height: var(--full);
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 3.2em;
}

li {
  list-style: none;
}

a{
  cursor: pointer;
}

.full, [full] {
  width: var(--full);
  height: var(--full);
}

.relative, [relative] {
  position: relative;
}

#nav {
  position: fixed;
  inset: 0 0 auto 0;
  width: var(--full);
  height: var(--size5);
  padding: var(--size0);
  z-index: 100;
}

#nav .full {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#navBtn {
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: none;
  background: transparent;
  cursor: pointer;
  position: relative;
  z-index: 500;
}

#navBtn span {
  display: block;
  height: 2px;
  width: 100%;
  background: black;
  transition: width 0.2s ease, transform 0.2s ease, background 0.5s ease;
}

#navBtn span:first-child {
  align-self: flex-end;
}

#navBtn span:nth-child(2) {
  width: 50%;
}

#navBtn:hover {
  background: #0003;
}

#navBtn:hover span:first-child {
  width: 50%;
}

#navBtn:hover span:nth-child(2) {
  width: 100%;
}

#navBtn:hover span:last-child {
  width: 50%;
}

#zone {
  z-index: 10;
  transition: filter 0.2s ease;
  -webkit-transition: -webkit-filter 0.2s ease;
}

#zoneName {
  font-size: 30vh;
  font-weight: 500;
  height: 160%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#zone .full {
  display: flex;
  flex-direction: column;
}

#view {
  display: grid;
  grid-template-columns: 0.6fr 1fr 1fr;
  grid-template-rows: 1fr;
  align-content: center;
  justify-content: center;
  align-items: end;
}

#view>*:not(:first-child) {
  border-top: 1px solid black;
  border-left: 1px solid black;
}

#view>.card {
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-shadow: 0 0.2em 1em #3335;
  font-size: 1vw;
}

.aspectResize #zoneName {
  font-size: 30vw;
}

.aspectResize #view {
  grid-template-columns: 1fr;
  grid-template-rows: 0.6fr 1fr 1fr;
}

.aspectResize #view>*:not(:first-child) {
  border-top: 1px solid black;
  border-left: none;
}

.navActive #navBtn span {
  position: absolute;
  transform-origin: center;
  top: 50%;
  left: 50%;
  background: white;
}

.navActive #navBtn span:first-child {
  transform: translate(-50%, -50%) rotate(45deg);
}

.navActive #navBtn span:nth-child(2) {
  width: 0px;
  opacity: 0;
}

.navActive #navBtn span:last-child {
  transform: translate(-50%, -50%) rotate(-45deg);
}

#navZone, #navZone nav li {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navZone {
  --nav-background: #141414;
  position: absolute;
  inset: 0 0 auto 0;
  width: 100%;
  height: 0;
  transition: all 0.5s ease;
  background: var(--nav-background);
  overflow: hidden;
  color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

#navZone a {
  position: relative;
  color: inherit;
  text-decoration: none;
}

#navZone a:hover::after {
  width: 100%;
}

#navZone a::after {
  content: "";
  position: absolute;
  display: block;
  height: 0.2em;
  background-color: var(--nav-background);
  border-bottom: 0.1em solid white;
  box-sizing: border-box;
  bottom: calc(50% - 0.05em);
  width: 0;
  transition: all 0.2s ease;
}

#zone a::after{
  content: "↗";
  transition: all 0.2s ease;
  font-size: 0;
}
#zone a:hover::after{
  font-size: 1em;
}

.navActive #navZone {
  height: 50vh;
  font-size: 5vh;
  color: white;
}

.navActive #zone {
  filter: grayscale(1) blur(5px);
}

@media screen and (max-height: 700px) {
  .navActive #navZone {
    height: 100vh;
  }

  #view>.card {
    font-size: 1vh;
  }
}