@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Comfortaa&family=Roboto:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");


html, body {
  font-family: 'Montserrat', sans-serif;
}

main {
  padding: var(--size2);
  justify-content: space-between;
  align-items: center;
}

#gallery {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: var(--size2);
  padding: var(--size2);
}

.imageBox {
  display: flex;
  aspect-ratio: 1/1;
  background-color: black;
  background-image: url("/src/gif/noise.gif");
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-grow: 1;
}

.imageTitle{
  display: none;
}

.imageBox img {
  object-fit: cover;
  cursor: pointer;
}

#moreButton {
  box-sizing: border-box;
  margin: var(--size2) 0;
  padding: var(--size0) var(--size2);
}

footer {
  color: var(--white);
  font-size: 14px;
  padding: var(--size8) 0 var(--size3);
  background-color: var(--black);
  background-image: url("/src/webp/dark.webp");
  background-size: contain;
}

footer [flex] {
  justify-content: space-between;
}

footer [flex] [box] {
  height: 100%;
}

.copyright {
  padding: var(--size5) 0 0;
}

.icon-hero1 {
  font-size: 7em;
}

@media screen and (max-width:800px) {
  #gallery {
    grid-template-columns: 1fr;
    gap: var(--size2);
    padding: var(--size2);
  }

  footer [flex] [box] {
    width: 100%;
    margin-bottom: var(--size5);
  }

  .hidible {
    display: none;
  }
}