.gallery_grid {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: var(--size2);
  padding: var(--size2);
}

.gallery_grid>div {
  aspect-ratio: 1/1;
  background-color: black;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.gallery_grid>div>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#more {
  margin: var(--size2) 0;
}