a {
  text-decoration: none;
}

a:hover {
  color: #4075e7;
}

#app {
  background-color: var(--gray-900);
  color: var(--light);
}

#main [xtext] {
  font-family: 'Montserrat', sans-serif;
  font-size: 18vw;
  line-height: 0.85em;
  position: absolute;
  bottom: 0;
  left: 16px;
}

#about {
  height: auto;
  padding: var(--size6, 128px) 0;
}

#about>[xbuild] {
  width: 1024px;
}

#about [xlist="row"] {
  flex-direction: row;
  margin-top: calc(var(--size6, 128px) * 1.5);
}

#about .description {
  font-size: 1.6em;
}

#about .leftSide {
  font-size: 1.4em;
}

#about .rightSide {
  flex-direction: column;
}

#about .rightSide [xbuild] {
  margin-top: var(--size3, 32px);
}

#about .rightSide [xbuild]:first-child {
  margin-top: 0;
}

#about [xlist="row"] [xbuild] {
  flex: 1;
}

#footer {
  height: 50%;
  min-height: 400px;
  font-weight: 500;
}

#footer [xlist] {
  padding: var(--size2, 24px);
}

#footer [xtext]:first-child {
  font-weight: 700;
}

#footer [xlist] a {
  margin-top: var(--size1, 18px);
}